APP_NAME="Template Service"
APP_ENV=local
APP_KEY=base64:sphueYDVw024Psoq5W2/nCUd8qt17nJ8FwFJG6/PY0Y=
APP_DEBUG=true

APP_SERVICE=service_template
APP_PORT=8000
APP_URL=http://localhost:8000
APP_URL_PROD=http://localhost:8000
FRONTEND_URL=http://localhost:3000

APP_LOCALE=es
APP_TIMEZONE=America/Bogota
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=sdi_helpdesk_service
DB_USERNAME=sail
DB_PASSWORD=password
# DB_SCHEMA=public

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=rustfs
QUEUE_CONNECTION=redis

CACHE_STORE=redis
REDIS_CACHE_DB=1
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DB=0

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

RUSTFS_ACCESS_KEY=sail
RUSTFS_SECRET_KEY=password
RUSTFS_REGION=us-east-1
RUSTFS_BUCKET=sail
RUSTFS_URL=
FORWARD_RUSTFS_PORT=9100
FORWARD_RUSTFS_CONSOLE_PORT=9101
RUSTFS_ENDPOINT=http://rustfs:9000
RUSTFS_USE_PATH_STYLE_ENDPOINT=true

# SDI Auth Service Integration (Personalizable por entorno)
SDI_AUTH_SERVICE_URL=http://sdi_auth-service
SDI_AUTH_APPLICATION_ID=9
SDI_AUTH_USERS_ENDPOINT=/api/v1/applications/{application_id}/users
AUTH_BYPASS=false

# Configuración de Laravel Sail en Monorepo
SAIL_FILES=../../docker-compose.yml
COMPOSE_FILE=../../docker-compose.yml
COMPOSE_PROJECT_NAME=project
